---
# tasks file for cpm_hardening

- name: Create user.ini file
  ansible.windows.win_file:
    path: "{{ cpm_installation_path }}\\Password Manager\\Vault\\user.ini"
    state: touch

- name: Hardening Block
  block:

    - name: Set cpm_hardening_script in domain
      set_fact:
        cpm_hardening_script: "CPM_In_Domain_Hardening.ps1"
      when: ansible_windows_domain_member

    - name: Run CPM hardening
      ansible.windows.win_shell: |
        $ErrorActionPreference = "SilentlyContinue"
        try {
          $Action = .\{{ cpm_hardening_script }}
        } catch {
          Write-Output $Error
        } finally {
          $Action | Out-File -FilePath "{{ cpm_hardening_log }}"
          $Result = Get-Content "{{ cpm_hardening_log }}" -Raw | ConvertFrom-Json
        }
        Write-Output $Result.isSucceeded
        if ($Result.isSucceeded -eq 2) {
          exit 1
        } else {
          exit 0
        }
      args:
        chdir: "{{ cpm_installationautomation_folder }}"

- name: Validate CPM hardening and stop service
  ansible.windows.win_service:
    name: "{{ cpm_service_name }}"
    state: stopped
  register: cpm_service_info

- name: Validate CPM scanner hardening and stop service
  ansible.windows.win_service:
    name: "{{ cpm_scanner_service_name }}"
    state: stopped
  register: cpm_scanner_service_info

- set_fact:
    cpm_hardened: true
  when: cpm_service_info.username != "LocalSystem" and cpm_scanner_service_info.username != "LocalSystem"
