---
# tasks file for cpm_extract

- name: Find all inf files
  win_find:
    paths: "{{ cpm_installation_path }}\\Password Manager\\Logs"
    patterns: ['*.*']
  register: files_to_delete

- name: Delete all inf files
  win_file:
    path: "{{ item.path }}"
    state: absent
  with_items: "{{ files_to_delete.files }}"

- name: Clean Windows\\Temp folder
  win_find:
    paths: "C:\\Windows\\Temp"
    patterns: ['CPM*.*', 'InstallationAutomation*.*']
  register: files_to_delete

- name: Delete temp folder
  win_file:
    path: "{{ item.path }}"
    state: absent
  with_items: "{{ files_to_delete.files }}"

- name: Keep installation automation folder
  win_copy:
    src: "{{cpm_installationautomation_folder}}"
    dest: C:\Cyberark
    remote_src: True

- name: Delete extract folder
  win_file:
    path: "{{ cpm_extract_folder }}"
    state: absent

- name: Clean run History
  win_shell: |
    try {
      $path = "HKCU:\Software\Microsoft\Windows\CurrentVersion\Explorer\RunMRU"

      if (& { Test-Path $path } 2>&1) {
        $arr = (Get-Item -Path $path).Property
        foreach ($item in $arr)
        {
          if ($item -ne "(Default)")
          {
            Remove-ItemProperty -Path $path -Name $item -ErrorAction SilentlyContinue
          }
        }
      }
    } catch {
      Write-Output "Error occured: $error"
      exit 1
    }
    exit 0

- name: clean event logs
  win_shell: |
    try {
      wevtutil el | ForEach-Object { wevtutil cl "$_" }
    } catch {
      Write-Output "Error occured: $error"
      exit 1
    }

- name: clean recycle bin
  win_shell: |
    try {
      $Recycler = (New-Object -ComObject Shell.Application).Namespace(0xa)
      $Recycler.items() | ForEach-Object { rm $_.path -Force -Recurse }
    } catch {
      Write-Output "Error occured: $error"
      exit 1
    }
