---
# tasks file for cpm

- name: Gather subset network facts
  setup:
    gather_subset:
      - 'network'

# Validate Parameters
- name: Validate input parameters
  include_tasks: cpm_validateparameters.yml

- name: Extract CPM package
  include_tasks: cpm_extract.yml
  when:
    - cpm_extract
  tags: [print_action]

- name: Running CPM prerequisities
  include_tasks: cpm_prerequisites.yml
  when:
    - cpm_prerequisites
  tags: [print_action]

- name: Running CPM uninstall
  include_tasks: cpm_uninstall.yml
  when:
    - cpm_uninstall
  tags: [print_action]

- name: Running CPM install
  include_tasks: cpm_install.yml
  when:
    - cpm_install
    - not cpm_exists
  tags: [print_action]

- name: Running CPM postinstall
  include_tasks: cpm_postinstall.yml
  when:
    - cpm_postinstall
  tags: [print_action]

- name: Running CPM hardening
  include_tasks: cpm_hardening.yml
  when:
    - not cpm_hardened
    - cpm_exists
    - cpm_scanner_exists
    - cpm_hardening
  tags: [print_action]

- name: Running CPM registration
  include_tasks: cpm_registration.yml
  when:
    - cpm_registration
    - cpm_exists
    - cpm_scanner_exists
    - not cpm_registered
  tags: [print_action]

- name: Running CPM upgrade
  include_tasks: cpm_upgrade.yml
  when:
    - cpm_upgrade
  tags: [print_action]

- name: Running CPM clean
  include_tasks: cpm_clean.yml
  when:
    - cpm_clean
  tags: [print_action]
